<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Store Online</a>
        <div class="input-group w-50">
            
            <input *ngIf="router.url == '/menu'" type="text" class="form-control" [(ngModel)]="searchword" (keyup)="search($event)" placeholder="Search your product" >
          </div>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <button class=" btn btn-primary"  routerLink="/yourcart" >
                        <i class="bi bi-cart3" style="font-size: large;margin-right: 3px;"></i> <div class="badge bg-danger">{{totalitems}}</div></button>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink=""
                        [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-link">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/menu" routerLinkActive="active-link">menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact-Us" routerLinkActive="active-link">contact-Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about-Us" routerLinkActive="active-link">about-Us</a>
                </li>
               
            </ul>
        </div>
    </div>
</nav>