

<div class="row">
    <div class="col-2">
        <div  style="top: 100px; position: fixed; " >

            <div class="list-group">
                <a class="list-group-item  list-group-item-action" 
                
                 routerLink="/menu" (click)="filtercat('')"> All Categories</a>
                 <a class="list-group-item  list-group-item-action" 
                
                 routerLink="/menu" (click)="filtercat('fashion')"> Fashion</a>
                 <a class="list-group-item  list-group-item-action" 
                
                  routerLink="/menu" (click)="filtercat('electronics')"> Electronics</a>
                  <a class="list-group-item  list-group-item-action" 
                  
                   routerLink="/menu" (click)="filtercat('jewelery')"> Jewellery</a>


            
              
            
            
            </div>
        </div>
        

        

    </div>
    <div class="col-9" style="margin-left: 100px;">

        <div class="row">
            
            <ng-container id="cardcon" *ngFor="let product of filteredprods | filter:searchkey:'title' ; let i=index">
                <div class="col">
                <product-card [product]="product" ></product-card>
            </div>

            <div *ngIf="(i+1)%2==0" class="w-70"></div>
            </ng-container>


       

        
       

        
    </div>
    </div>
    
    

</div>
