
<div class="row">
    <div class="col-3">
        <div class="list-group mr-3 ml-3 mr-lg-5 " > 
            <button routerLink="/menu"  class="list-group-item list-group-item-action active" [class.active]="!category" >
              All Categories
            </button>
            <div *ngFor="let cat of categories; ">
    
                <button type="button" class="list-group-item list-group-item-action"
                 routerLink="/menu" [queryParams]="{category: cat.name}" [class.active]="category==cat.name" >{{cat.name}}
                 
                
                </button>
    
    
            </div>
           
          </div>

    </div>
    
    <div class="col-7">
        <div class="row">
            <div class="card mt-2 mb-2 col-4  " style="width: 18rem;" *ngFor="let prod of filteredprods ">
                <img class="card-img-top mt-2" style="height: 350px;" [src]="prod.imageUrl" alt="Card image cap">
                <div class="card-body">
    
                    <h5 class="card-title"><span> Name:</span> {{prod.name}}</h5>
                    <h5 class="card-title"><span> Price:</span> {{prod.price | currency}}</h5>
    
                    <h5 class="card-title"><span> Material:</span> {{prod.material}}</h5>
                    <h5 class="card-title"> <span> Details:</span>  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Inventore voluptas quidem natus laudantium eaque libero repellat aspernatur
                         ipsa recusandae voluptatibus ea, placeat a, odio suscipit. Fugiat animi vel iste aliquam. </p></h5>
    
    
    
                    <a [routerLink]="['/ordered',prod.id]"  class="btn btn-success">Buy Now <i class="bi bi-bag"></i></a>
                </div>
            </div>

        </div>

        


       

    </div>

</div>
<ng-template #boughtitem>
    <div>
        <h3>Added to your cart</h3>
    </div>

</ng-template>