<div class="about-section">
    <h1>About Us </h1>
    <p> who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptatibus voluptatum mollitia debitis in fugiat quos velit
         reprehenderit ea tempore officia ad, dignissimos deleniti, error cum esse, natus repellendus accusamus.
    </p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <img src="assets/images/design.webp" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">Our Designers</p>
          <p> lorem ipsum ipsum lorem. Lorem ipsum dolor
               sit amet consectetur adipisicing elit.
               Quaerat dolore omnis totam sit nostrum,
               praesentium incidunt facilis ea nesciunt 
               quam, quae illo velit excepturi quod eius 
               odio doloribus esse dignissimos!</p>
          <p>jane@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="col-6">
      <div class="card">
        <img src="assets/images/design1.webp" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p> lorem ipsum ipsum lorem.
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
               Eaque, aspernatur quaerat molestias placeat quibusdam in 
              libero maiores sunt rerum dignissimos impedit, quisquam nobis 
              distinctio minus at fugiat debitis consequuntur mollitia!
          </p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    
    
  </div>









